.App {
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.SideBar-Main {
  display: flex;
  min-width: 14vw;
  min-height: 100vh;
  height: inherit;
  flex-direction: column;
  /* width: 20vw; */
  background-color: aliceblue;
}
.SideBar-item {
  padding: 10px 5px;

  display: flex;
  justify-content: center;
}
